/* global css  */
body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: #0d3559;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
    margin-bottom: 10px;
}
h6 {
    font-size: 18px;
}
blockquote{
	font-style:italic;
}

a:hover,
a:focus,
a:active,
button {
    
    outline: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #4676fa !important;
}

.primary-btn {
    padding: 15px 30px;
    background: #346afe;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}

.primary-btn:hover{
    background-color: #4676fa;
    color: #fff !important
}


/* header css  */
.header {
  background: rgba(238, 244, 245, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.4s;
}
.logo_color {
  color: #0d3559;
}


/* banner */
.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 600px;
  background: linear-gradient(
    to bottom,
    rgb(244, 250, 255) 0%,
    rgb(221, 240, 253) 100%
  );
 
}

.banner-content {
  padding: 175px 0px;
}

.banner-content h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.banner-content p {
    margin-bottom: 30px;
}

.promo-image {
    position: absolute;
    right: 0;
    bottom: 0;
}


/* Feature css  */
.features{
    padding: 100px 0px;
}

.section-title{
    margin-bottom: 60px;
}
.section-title h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.section-title h2 span {
    color: #346afe;
}
.lines {
    width: 6px;
    position: relative;
    border-top: 2px solid #346afe;
}
.section-title .lines {
    margin-left: 34px;
    margin-top: 15px;
}
.text-center .lines {
    margin: auto;
}
.lines:before,
.lines:after {
    content: "";
    position: absolute;
    top: -2px;
    width: 30px;
    border-top: 2px solid #346afe;
}
.lines:before {
    left: -34px;
}
.lines:after {
    right: -34px;
}
.section-title p {
    margin-top: 20px;
}


.media {
    margin: 20px 0px;
}

.media h5{
    font-weight:600;
}


/* Icon css  */
.brand-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px dashed #346afe;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}
.brand-icon img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 9px;
}
.brand-icon i {
    font-size: 35px;
    color: #346afe;
    line-height: 60px;
}
.media:hover .brand-icon {
    background: #346afe;
}
.media:hover .brand-icon i {
    color: #ffffff;
}


/* About css  */
.bg-and-padding{
    padding: 100px 0px;
    background-color: #eef4f5;
}

.about-boxes .media {
    text-align: center;
    padding: 30px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
	background:#EEF4F5;
}
.about-boxes .media p{
    margin-bottom:0px;
}
.about-boxes .media:hover {
    background: #fff;
    box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}

/* Showcase  */
.showcase-img{
    padding-top: 50px;
}
.showcase-content{
    padding: 50px 0px
}

/* how works  */
.how-works-item .icon-outer {
    display: inline-table;
    width: 90px;
    height: 90px;
    position: relative;
	border-radius:5px;
    transition: 300ms;
    background-color: #ffffff;
	color:#346afe;
	line-height:90px;
	font-size:40px;
	margin-bottom:25px;
	border:1px dashed #346afe;
}
.how-works-item:hover .icon-outer{
	background:#346afe;
	color:#ffffff;
	box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}
.how-works-item .title{
	font-size:22px;
	font-weight:400;
}
.how-works-item {
    position: relative;
    z-index: 1;
}
.how-works-item:after, .how-works-item:before {
    content: '';
    width: 50%;
    border-top: 1px solid;
    position: absolute;
    top: 45px;
  transform: translateX(0) translateY(-50%) translateZ(0) rotate(0deg) scale(1);
    z-index: -1;
}
.how-works-item::before {
    right: 50%;
}
.how-works-item:after, .how-works-item:before {
    border-color: #0d3559;
}
.how-works-item:first-child::before {
    border-color: transparent;
}
.how-works-item:last-child::after {
    border-color: transparent;
}

/* special feature  */
.special-features{
    padding: 100px 0px;
    background-image: url("images/special-feature-bg.jpg");
    box-shadow: inset 0 0 0 2000px rgba(52, 106, 254, 0.699);
}

.bg-parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.special-features h1{
margin-bottom: 30px;
color: white;
}
.special-features p{
margin-bottom: 30px;
color: white;
}

/* screenshot css   */
.screenshotss{
    padding: 100px 0px;
}

.shot-item {
    padding: 8px;
    border-radius: 4px;
    background: #EEF4F5;
}
.bg-gray .screenshots .shot-item {
    background: #ffffff;
}
.shot-item img {
    border-radius: 4px;
}
.overlay {
    display: block;
    position: relative;
}
.overlay:before,
.overlay:after {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    background: #346afe;
    background: linear-gradient(to left, #346afe, #004e92);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
	left:0;
}
.overlay:before {
    top: 0;
    z-index: 1;
}
.overlay:after {
    bottom: 0;
    z-index: 1;
}
.shot-item:hover .overlay:before {
    height: 50%;
}
.shot-item:hover .overlay:after {
    height: 50%;
}
.overlay .item-icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
    top: 50%;
    left: 50%;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    font-size: 50px;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
}
.shot-item:hover .item-icon {
    visibility: visible;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

/* video promo  */

.video-promo{
    padding: 100px 0px;
    background-image: url("images/video-promo-bg.jpg");
    box-shadow: inset 0 0 0 2000px rgba(52, 106, 254, 0.699);
}

.video-promo h2{
    margin-bottom: 30px;
    color: white;
    }

    .play-icon-outer {
        display: inline-table;
        width: 90px;
        height: 90px;
        position: relative;
        border-radius:50%;
        transition: 300ms;
        background-color: #ffffff;
        color:#346afe;
        line-height:90px;
        font-size:40px;
        margin-bottom:25px;
    }
    .play-icon-outer:hover{
        background:#346afe;
        box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
    }


    /* mobile screenshots  */
    .screenshotsss{
        background: #EEF4F5;
        padding: 100px 0;
    }
    .screenshots-mobile{
        padding: 32px 14px 0px 14px;
        background: rgba(0, 0, 0, 0) url(images/screenshot-mobile.png) no-repeat scroll top center;
        background-size: 100%;
        max-width: 293px;
        margin: 0 auto;
    }
    .screenshots-mobile.owl-theme .owl-nav.disabled+.owl-dots{
        margin-top:20px;
    }
    .screenshots-mobile .shot-item{
        padding:0px;
        border-radius:0px;
    }
    .mfp-counter{
        display:none;
    }

    .accordion-button{
        background-color: rgb(8, 8, 238) !important;
        color: white;
    }

    .accordion-button::after{
        color: white !important
    }


    /* pricing  */
    .pricing{
        padding: 100px 0;
    }

    .single-package .price {
        background: #EEF4F5;
    }
    .single-package {
        background: #EEF4F5;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
    }
    .single-package:hover {
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
    }
    .featured-package,
    .featured-package {
        background: #346afe;
        background: linear-gradient(to left, #346afe, #004e92);
    }
    .featured-package h4,
    .featured-package ul {
        color: #ffffff;
    }
    .price {
        background: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .price h5 {
        margin-bottom: 0px;
    }
    .sign {
        font-size: 14px;
        vertical-align: super;
    }
    .price .month {
        font-size: 14px;
    }
    .package-head {
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .package-feature {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .package-feature li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .download-btn {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .download-btn .primary-btn {
        font-size: 14px;
        text-transform: inherit;
        padding: 8px 30px;
    }
    .featured-package .primary-btn {
        background: #ffffff;
        color: #346afe
    }
    .featured-package .primary-btn:hover {
        background: #EEF4F5;
    }

    /* download apps  */
    .download-apps{
        padding: 100px 0;
        background-color: #EEF4F5 ;
    }

    /* fact counter */
    .facts-section{
        padding: 100px 0px;
        background-image: url("images/counter-bg.jpg");
        box-shadow: inset 0 0 0 2000px rgba(52, 106, 254, 0.699);
    }

    .single-counter{
        color:#ffffff;
        margin-top:20px;
        margin-bottom:20px;
    }
    .single-counter h4{
        color:#ffffff;
        font-weight:normal;
    }
    .single-counter i{
        font-size:50px;
    }
    .counter-number{
        margin-top:15px;
        margin-bottom:15px;
        font-size:35px;
    }

    /* contact form  */
    .contact{
        padding: 100px 0px;
        background-image: url("images/contact-bg.jpg");
        box-shadow: inset 0 0 0 2000px rgba(52, 106, 254, 0.699);
    }

    .contact-block {
        background: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        padding: 30px;
        overflow: hidden;
    }
    .contact-block h3 {
        text-align: center;
        margin-bottom: 10px;
    }
    .contact-block .subtitle {
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .email-success,
    .email-failed,
    .email-loading,
    .success-msg,
    .error-msg {
        font-size: 15px;
        text-align: center;
        padding: 10px;
        display: none;
        margin: 0px!important;
    }
    .email-loading {
        color: #52B8FF;
    }
    .email-loading img {
        width: 15px;
        position: relative;
        top: -2px;
    }
    .email-failed,
    .error-msg {
        color: #FF5252 !important;
    }
    .email-failed .icon {
        font-size: 20px;
        position: relative;
        top: 5px;
    }
    .email-success,
    .success-msg {
        color: #56CC35;
    }
    .email-failed .icon,
    .email-success .icon,
    .error-msg .icon,
    .success-msg .icon {
        font-size: 20px;
        position: relative;
        top: 2px;
    }
    .input-box {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 50px;
        box-shadow: none;
        font-size: 16px;
    }
    .textarea-box {
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: none;
        font-size: 16px;
    }
    textarea.form-control.textarea-box {
        height: 120px;
    }
    .input-box:focus,
    .textarea-box:focus {
        border: 1px solid #346afe;
        box-shadow: none;
    }

  
    
    